<br>
<div class="container" >
    <div class="card text-center"><h2>Orders</h2></div>
    <table class="table">
            <thead class="thead-light">
            <th scope="col">Order</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders" > 
            <th scope="row">{{order.order_id}}</th>
            <td>{{ order.order_submitted }}</td>
            <td>${{ order.order_amount }}</td>
            </tr>
        </tbody>
    </table>
</div>
