
<div class="jumbotron jumbotron-fluid">
   
      <h1 class="display-4">MarketPlace</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
      <div class="input-group">
          <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Button</button>
          </div>
        </div>

    </div>


    <div class="input-group">
        <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Button</button>
        </div>
      </div>

<div class="container">
    <div class="row">
        <div class="col-sm">
          
      <div class="card">
          <img src="/w3images/jeans3.jpg" alt="Denim Jeans" style="width:100%">
          <h1>Tailored Jeans</h1>
          <p class="price">$19.99</p>
          <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
          <p><button>Add to Cart</button></p>
        </div>

      </div>

      <div class="row">
          <div class="col-sm">

        <div class="card">
            <img src="/w3images/jeans3.jpg" alt="Denim Jeans" style="width:100%">
            <h1>Tailored Jeans</h1>
            <p class="price">$19.99</p>
            <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
            <p><button>Add to Cart</button></p>
          </div>

          </div>

          <div class="row">
              <div class="col-sm">

          <div class="card">
              <img src="/w3images/jeans3.jpg" alt="Denim Jeans" style="width:100%">
              <h1>Tailored Jeans</h1>
              <p class="price">$19.99</p>
              <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
              <p><button>Add to Cart</button></p>
            </div>

            </div>

  </div>






