<br><br>
<div class="row">
  <div id="orderBox" class="col-sm-8 offset-sm-2">
    <div class="card-header">
      <strong>Order History</strong>
    </div>
    <div class="panel panel-primary">
      <div class="table-responsive">
        <table id="orderHistory" class="table table-hover table-condesned">
          <thead>
            <tr>
              <th>Item Ordered</th>
              <th>Order #</th>
              <th>Total</th>
              <th>Order Placed</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th><img src="../../assets/apple-item.jpg" alt=""></th>
              <th>008852</th>
              <th>$2.50</th>
              <th>03-09-2018</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

