<br>
<br>
<br>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../../assets/Eric Marcelo-2-01.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Senior Software Engineer</h5>
      <p class="card-text">Software Engineer Eric Marcelo</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../assets/Jonathan Tran-2-01.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">C.T.O.</h5>
      <p class="card-text">Chief Technical Officer Jonathan Tran</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../assets/Steve Saucedo-01 (2).jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Founder / C.E.O.</h5>
      <p class="card-text">Founder and Chief Executive Officer Steve Saucedo</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
