<div class="card-deck">

<div class="card" [routerLink]="['/profile']">
    <img class="card-img-top" src="../../assets/user-line.svg" alt="Card image cap">
  <div class="card-body" >
    <h5 class="card-title">Profile</h5>
    <p class="card-text">In this section you can update your profile.</p>
  </div>
  <div class="card-footer">
    <small class="text-muted">Last updated 3 mins ago</small>
  </div>
</div>

<div class="card" [routerLink]="['/completedDriverOrders']">
  <img class="card-img-top" src="../../assets/number-list-line.svg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">View Completed orders</h5>
    <p class="card-text">These are the orders you completed.</p>
  </div>
  <div class="card-footer">
    <small class="text-muted">Last updated 3 mins ago</small>
  </div>
</div>

<div class="card" [routerLink]="['/completedDriverOrders']">
  <img class="card-img-top" src="../../assets/number-list-line.svg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">View Upcoming orders</h5>
    <p class="card-text">Upcoming orders to do.</p>
  </div>
  <div class="card-footer">
    <small class="text-muted">Last updated 3 mins ago</small>
  </div>
</div>

</div>
<br>
<br>
