

<div class="container">
    <h1 class="display-4">Upcoming Orders</h1>
    
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option selected>Choose...</option>
              <option value="1"  *ngFor="let dataorder of dataOrders">{{dataorder.order_id}}</option>
              
            </select>
          </div>
          <div class="col-auto my-1">
            <button (click)="submitorder(dataorder.order_id)" class="btn btn-primary">Submit</button>
          </div>
        </div>
      

<table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#UserID</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">OrderID</th>
        <th scope="col">Order Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataorder of dataOrders">
        <th scope="row">{{dataorder.user_id.user_id}}</th>
        <td>{{dataorder.user_id.user_fname}}</td>
        <td>{{dataorder.user_id.user_lname}}</td>
        <td >{{dataorder.order_id}}</td>
        <td>{{dataorder.order_status}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  </div>