<br>
<br>
<div class="container">
    <h1 class="text-center">Schedule Deliveries</h1>
    <br>
    <br>
    <h2>Select Delivery Recurrence</h2>
    <form>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Recurrence
        </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="setValue(1)">Weekly</a>
        <a class="dropdown-item" (click)="setValue(2)">Daily</a>
        <a class="dropdown-item" (click)="setValue(3)">Monthly</a>
    </div>
</div>
<br>
<br>
<h3>Select Your Cart</h3>
<div>
    <ul class="list-group" *ngFor="let cart of carts">
        <li class="list-group-item disabled" (click)="chooseCart(cart.cart_id)">{{ cart.cart_id }}</li>
    </ul>
</div>
<br>
<br>
<h3>Submit Schedule</h3>
    </form>
    <button  (click)="scheduleDelivery()" class="btn">Schedule</button>
</div>
