<br>
<br>
<div class="card-deck">
  <div class="card" [routerLink]="['/orders']">
    <img class="card-img-top" src="../../assets/number-list-line.svg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Orders</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card" [routerLink]="['/schedule']">
    <img class="card-img-top" src="../../assets/calendar-line.svg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Schedule</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
<br>
<br>
<div class="card-deck">
  <div class="card" [routerLink]="['/feedback']">
    <img class="card-img-top" src="../../assets/talk-bubbles-line.svg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Feedback</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card" [routerLink]="['/shoppingcart']">
    <img class="card-img-top" src="../../assets/shopping-cart-line.svg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Shopping Cart</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card" [routerLink]="['/profile']">
    <img class="card-img-top" src="../../assets/user-line.svg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Profile</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
