<br>
<br>
<h2>Edit</h2>
<br>
<div class="row">
  <form class="col-sm-6 offset-sm-3">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputFirstname">First Name</label>
        <input type="text" class="form-control" id="inputFirstname" placeholder="First" name="firstname" #newFirstname>
      </div>
      <div class="form-group col-md-4">
        <label for="inputLastname">Last Name</label>
        <input type="text" class="form-control" id="inputLastname" placeholder="Last" name="firstname" #newLastname>
      </div>
      <div class="form-group col-md-4">
        <label for="inputPhone">Phone (XXX-XXX-XXXX)</label>
        <input type="tel" pattern="^\d{3}-\d{3}-\d{4}$" placeholder="000-000-0000" class="form-control" id="inputPhone" name="phone" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputAddress2">Email Address</label>
        <input type="email" class="form-control" id="inputAddress2" placeholder="example@email.com" name="address2" #newAddress2>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="address" #newAddress>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity" name="city" #newCity>
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select class="form-control" id="inputState" #newState>
          <option value="">Choose...</option>
          <option value="California">California</option>
          <option value="Chicago">Chicago</option>
          <option value="Virginia">Virginia</option>
          <option value="Texas">Texas</option>
        </select>
        <!-- <input type="text" class="form-control" id="inputState" placeholder="State" name="state" #newState> -->
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">Zip</label>
        <input type="number" class="form-control" id="inputZip" name="zip" #newZip>
      </div>
    </div>
    <button type="submit" class="btn" [routerLink]="['/customers']" 
      (click)="editProfile(newFirstname.value, newLastname.value, newAddress.value, newAddress2.value, newCity.value, newState.value, newPhone.value, newZip.value)">
      Submit
    </button>
  </form>
</div><!-- grid system row -->
